body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/bg.png);
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding-top: 20px;
    height: 60px;
    position: fixed;
    font-size: 20px;
}

.logo {
    width: 85px;
    float: left;
    position: absolute;
    transition: 0.5s;
}

.logo:hover {
    width: 95px;
    transition: 0.5s;
}

header ul {
    margin-top: 15px;
}

header ul li {
    display: inline-block;
}

header ul li a {
    text-decoration: none;
    color: white;
    margin: 10px;
    transition: 0.5s;
}

header ul li a:hover {
    font-size: 30px;
    transition: 0.5s;
    color: #FF4500;
}