header {
    background-color: blue;
    width: 100%;
    padding-top: 20px;
    height: 60px;
    position: fixed;
}

.logo {
    width: 85px;
    float: left;
    position: absolute;
    transition: 0.5s;
}

.logo:hover {
    width: 95px;
    transition: 0.5s;
}